{% extends "base.html" %}
{% block content %}

<table class="table table-striped">
<thead>
  <tr>
    <th>{{ _("Date") }}</th>
    <th style="width:50%">{{ _("Original Text") }}, {{ _("Translated Text") }}</th>
    <th>{{ _("Languages") }}</th>
  </tr>
</thead>
<tbody>
{% for tresponse in tresponses %}
  <tr>
    <td>{{ tresponse.timestamp | date }}</td>
    <td>
    	<p>{{ tresponse.request.original_text }}</p>
    	<p>{{ tresponse.translated_text }}</p>
    </td>
    <td>
      {{ tresponse.request.source | language_name }} &rarr;
      {{ tresponse.request.target | language_name }}
    </td>
  </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}