{% extends "base.html" %}
{% block content %}

{% if error %}
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ error }}
</div>
{% endif %}

<form method="post" action="">
  <fieldset>

    <legend>{{ _("Ask for help") }}</legend>

    <div id="original-text" class="control-group {% if form.text.errors %}error{% endif %}">
      <label class="control-label">{{ _("Original text") }}</label>
      {{ form.text(placeholder='') }}
      {% if form.text.errors %}
      <span class="help-inline">{{ form.text.errors | join('<br/>') }}</span>
      {% endif %}
    </div>
    <!--<input type="text" placeholder="">-->

    <div class="row-fluid">
      <div id="source-language" class="control-group span4 {% if form.source.errors %}error{% endif %}">
        <label class="control-label">{{ _("Source language") }}</label>
        <!--
        <select name="source">
          {{ language_options | safe }}
        </select>
      -->
        {{ form.source }}
        <span class="help-inline">{{ form.source.errors | join('<br/>') }}</span>
      </div>

      <div id="target-language" class="control-group span4 {% if form.target.errors %}error{% endif %}">
        <label class="control-label">{{ _("Target language") }}</label>
        {{ form.target }}
        <span class="help-inline">{{ form.target.errors | join('<br/>') }}</span>
      </div>
    </div>

    <!--
    <div id="comment" class="control-group">
      <label class="control-label">{{ _("Comment") }} ({{ _("Optional") }})</label>
      <textarea name="comment" placeholder=""></textarea>
    </div>
    -->

    <!--<span class="help-block">Example block-level help text here.</span>-->

    {{ form.csrf_token }}
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>

<script>
{# flash_errors({{ form | form_errors_to_js | safe }}); #}
</script>

{% endblock %}