<!DOCTYPE html>
<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- production version, optimized for size and speed -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" />

    <style>
        html,
        body {
            height: 100%;
        }

        textarea.text {
            height: 100%;
        }
    </style>
</head>

<body>
    <div class="ui black big launch right attached fixed button">
        <i class="content icon"></i>
        <span class="text">Menu</span>
    </div>
    <form id="app" @submit="checkForm" v-on:submit="translate">
        <div class="ui grid form">
            <div class="six column row">
                <div class="column"></div>
                <div class="column"></div>
                <div class="column field">
                    <select class="ui dropdown" v-model="source" @change="updateSource">
                        <option value="">Source</option>
                        <option value="en">English</option>
                        <option value="ko">Korean</option>
                    </select>
                </div>
                <div class="column field">
                    <select class="ui dropdown" v-model="intermediate" @change="updateIntermediate">
                        <option value="">Intermediate</option>
                        <option value="jp">Japanese</option>
                    </select>
                </div>
                <div class="column field">
                    <select class="ui dropdown" v-model="target" @change="updateTarget">
                        <option value="">Target</option>
                        <option value="en">English</option>
                        <option value="ko">Korean</option>
                    </select>
                </div>
                <div class="column">
                    <button class="ui button" :disabled="isTextEmpty()">Translate</button>
                </div>
            </div>

            <div class="row" v-if="errors.length">
                <div class="column">
                    <div class="ui negative message">
                        <i class="close icon"></i>
                        <div class="header">Something went sideways</div>
                        <ul>
                            <li v-for="error in errors">{{ error }}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="two column row">
                <div class="column">
                    <div class="ui form">
                        <div class="field">
                            <textarea class="text" v-model="text"></textarea>
                        </div>
                    </div>
                </div>
                <div class="column">
                    {{ translated }}
                </div>
            </div>
        </div>
    </form>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                errors: [],
                source: Cookies.get('source') || '',
                intermediate: Cookies.get('intermediate') || '',
                target: Cookies.get('target') || '',
                text: '',
                translated: ''
            },

            methods: {
                checkForm: function (event) {
                    this.errors = [];

                    if (!this.source) {
                        this.errors.push('Source language must be specified');
                    }
                    if (!this.target) {
                        this.errors.push('Target language must be specified');
                    }
                    if (this.source == this.target) {
                        this.errors.push('Target and source langauges must be different')
                    }
                    event.preventDefault();

                    return !this.errors;
                },

                isTextEmpty: function (event) {
                    return this.text.trim() == '';
                },

                // FIMXE: There's gotta be a better way to handle this...
                updateSource: function (event) {
                    Cookies.set('source', this.source);
                },
                updateIntermediate: function (event) {
                    Cookies.set('intermediate', this.intermediate);
                },
                updateTarget: function (event) {
                    Cookies.set('target', this.target);
                },

                translate: function (event) {
                    var data = {
                        'source': this.source,
                        'target': this.target,
                        'text': this.text
                    };
                    $.post('http://localhost:8001/api/v1.3/translate', data, response => {
                        console.log(response);
                        this.translated = response;
                    });
                }
            }
        });

        $('.message .close')
            .on('click', function () {
                $(this)
                    .closest('.message')
                    .transition('fade');
            });
    </script>
</body>

</html>