.DS_Store
.AppleDouble
*.pyc
*.mo
*.log
*.db
*.swp
*.csv

.cache
lib
provision.sh
docs/buils

# Node.js stuff
node_modules
package*.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
