db_uri: ""
secret_key: ""
api_key: ""
es_host: ""
es_port: 8080
rollbar_token: ""
rollbar_env: "production"
mac_client_url: ''
windows_client_url: ''
linux_client_url: ''
latest_client_version: 0.1.2

aws:
  access_key: ""
  secret_key: ""
  region: "us-west-2"
