flask==0.12.2
flask-babel
flask-cors
flask-sqlalchemy
flask-wtf
flask-paginate
flask-script
flask_oauthlib
flask-login
frozen-flask
jinja2
markupsafe
requests
sphinx
sphinxcontrib-httpdomain
psycopg2
pybase62
pytest
pytest-cov
coveralls
pyyaml
python-dateutil
click
rollbar
blinker
boto3
logbook
temporaluuid64
pynamodb
