{% macro render_nav_item(name, endpoint) %}
  <li class="{% if request.endpoint == endpoint %}active{% endif%}">
    <a href="{{ url_for(endpoint) }}">{{ name }}</a>
  </li>
{% endmacro %}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->
<head>
  <title>{{ _("app-title") }}</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta property="og:title" content="{{ _("app-title") }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="https://better-translator/static/icon_512.png"/>
  <meta property="og:site_name" content="{{ _("app-title") }}"/>
  <meta property="fb:admins" content="10132775"/>
  <meta property="og:description"
        content="{{ og_description }}. This translator supports {{ _('Russian') }}, {{ _('French') }}, {{ _('English') }}, {{ _('Portuguese') }}, {{ _('Vietnamese') }}, {{ _('German') }}, {{ _('Korean') }}, {{ _('Italian') }}, {{ _('Hebrew') }}, {{ _('Indonesian') }}, {{ _('Turkish') }}, {{ _('Chinese') }}, {{ _('Filipino') }}, {{ _('Arabic') }}, {{ _('Polish') }}, {{ _('Thai') }}, {{ _('Czech') }}, {{ _('Swedish') }}, {{ _('Japanese') }}, {{ _('Spanish') }}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!-- If this value is changed, all social interaction records
       (e.g., Facebook, Twitter, etc.) will be lost. -->
  <link rel="canonical" href="http://better-translator.com">

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/main.css?v={{ version }}"/>

{% block addtional_head %}{% endblock %}
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/">{{ _("app-title") }}</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            {{ render_nav_item(_("Discussions"), "main.discuss") }}
            {% if locale == 'ko' %}
            <li>
              <a href="http://blog.suminb.com/archives/1856" target="_blank">번역기 활용 팁</a>
            </li>
            {% endif %}
          </ul>
          <ul class="nav pull-right">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div id="content" class="container {% if request.endpoint == 'index' %}wide{% endif %}">
{% block content %}{% endblock %}
    <!--
    <div class="locales">
      <a href="/locale?locale=ko">한국어</a> |
      <a href="/locale?locale=en">English</a>
    </div>
    -->

    <div class="adsense">
      {% if request.endpoint == 'index' %}
      <script type="text/javascript"><!--
      google_ad_client = "ca-pub-2353453386862167";
      /* Better Translator (Long Text) */
      google_ad_slot = "7696826285";
      google_ad_width = 728;
      google_ad_height = 15;
      //-->
      </script>
      <script type="text/javascript" async
        src="https://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
      {% else %}
      <style>
      .better-translator-responsive { width: 320px; height: 50px; }
      @media(min-width: 500px) { .better-translator-responsive { width: 468px; height: 60px; } }
      @media(min-width: 800px) { .better-translator-responsive { width: 728px; height: 90px; } }
      </style>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Better Translator (Responsive) -->
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-5062473974340216",
          enable_page_level_ads: true
        });
      </script>
      {% endif %}
    </div>
  </div>

  <div id="footer">
    <div class="container">
      <div id="share-buttons">
          <!-- AddThis Button BEGIN -->
          <div class="addthis_toolbox addthis_default_style ">
              <a class="addthis_button_facebook_like" fb:like:layout="button_count" addthis:url="{{ request.base_url }}"></a>
              <a class="addthis_button_tweet" addthis:url="{{ request.base_url }}"></a>
              <a class="addthis_button_google_plusone" g:plusone:size="medium" addthis:url="{{ request.base_url }}"></a> 
              <!--<a class="addthis_counter addthis_pill_style"></a>-->
          </div>
          <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
          <script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-513d8a896d2c8ac3" async="async"></script>
          <!-- AddThis Button END -->
      </div>
      <div id="copyright">
        <a href="{{ url_for('main.about') }}">{{ _("About") }}</a> |
        <a href="{{ url_for('main.credits') }}">{{ _("Credits") }}</a> |
        <a href="{{ url_for('main.disclaimers') }}">{{ _("Disclaimers") }}</a> |
        <a href="http://github.com/suminb/translator/issues" target="_blank">{{ _("Bug reporting") }}</a>
        <br/>
        &copy; 2016 <a href="http://labs.suminb.com" target="_blank">Sumin's Labs</a>.
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/jquery.autoresize.min.js"></script>
  <script type="text/javascript" src="/static/jquery.cookie.js"></script>
  <script type="text/javascript" src="/static/sprintf.min.js"></script>
  <script type="text/javascript" src="/static/underscore.min.js"></script>
  <script type="text/javascript" src="/static/backbone.min.js"></script>
  <script type="text/javascript" src="/static/backbone.epoxy.min.js"></script>
  <script type="text/javascript" src="/static/main.js?v={{ version }}"></script>

  <script id="facebook-jssdk" src="https://connect.facebook.net/en_US/all.js"></script>

  <script src="/static/bootstrap/js/bootstrap.min.js"></script>

  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-346833-18', 'auto');
    ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>

</body>
</html>
