{% extends "base.html" %}
{% block content %}

<div class="credits">
  <h1>{{ _("Credits") }}</h1>


  <h3>{{ _("Lead Developer") }}</h3>
  <div class="name">Sumin Byeon</div>
  <div class="link">
    <a href="http://resume.suminb.com">{{ _("Web") }}</a> |
    <a href="http://blog.suminb.com">{{ _("Blog") }}</a> |
    <a href="http://labs.suminb.com">Labs</a> |
    <a href="http://github.com/suminb">GitHub</a>
  </div>
  <div class="intro">Game server programmer at <a href="http://www.nexon.co.kr">Nexon</a>.</div>

  <h3>{{ _("Android App Developer") }}</h3>
  <div class="name">Sung Kim</div>
  <div class="intro">Computer Science undergraduate student at the <a href="http://www.arizona.edu/">University of Arizona.</a></div>

  <h3>{{ _("iOS App Developer") }}</h3>
  <div class="name">ChiHyun Lim</div>
  <div class="link">
    <a href="http://cdo.li">{{ _("Web") }}</a>
  </div>
  <div class="intro">A former game programmer at <a href="http://www.nexon.co.kr">Nexon</a>, currently studying Computer Science at <a href="http://www.purdue.edu/">Purdue University.</a></div>

  <h3>{{ _("Former collaborators") }}</h3>

  <a class="accordion-toggle" data-toggle="collapse" data-parent="" href="#former-collaborators">{{ _("Show") }}
  </a>

  <div id="former-collaborators" class="accordion-body collapse">

    <h3>{{ _("Localization") }} ({{ _("French") }})</h3>
    <div class="name">Yujin Chung</div>
    <div class="link"><a href="http://flyingyujin.x-y.net">{{ _("Web") }}</a></div>
    <div class="intro">Currently lives in Seoul. She loves arts and new technologies.</div>

    <h3>{{ _("Localization") }} ({{ _("Spanish") }})</h3>
    <div class="name">Leon M. Garcia</div>
    <div class="intro">Received a bachelor of science degree in Biosystems Engineering at the <a href="http://www.arizona.edu/">University of Arizona.</a>, and currently teaches math and physics for high school students and college students.</div>

    <h3>{{ _("Localization") }} ({{ _("Russian") }})</h3>
    <div class="name">Shinjo Park</div>
    <div class="link"></div>
    <div class="intro"></div>

  </div>


</div>

{% endblock %}
