body {
    margin: 1.5em;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11pt;
    color: #505050;
    line-height: 135%;
}

h1, h2, h3 {
    font-family: Helvetica, Arial, sans-serif;
}

h1 a {
    text-decoration: none;
}

a, a:visited {
    padding: 1px;
    color: #1033d0;
    text-decoration: none;
}
a:hover {
    color: #183cff;
    /*background-color: #efcc2f;*/
}

input[type=submit] {
    font-size: 13pt;
}

.credits {
    max-width: 800px;
    min-width: 300px;
    margin: 0 auto;
}
.credits h3 {
    padding-bottom: 4px;
    border-bottom: 1px solid #ccc;
    font-weight: normal;
    color: #888;
}
.credits .name {
    font-size: 1.25em;
    font-weight: bold;
}

#column1, #column2 {
    float: left;
    width: 47%;
    margin: 0 1em;
}

#google-translate {
    display: none;
    text-align: center;
}

.translation-options {
    width: 100%;
    text-align: right;
}

#text {
    display: block;
    width: 99%;
    height: 8em;
    padding: .5em;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11pt;
    color: #303030;
    border: 1px solid #aaa;
}

#result {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11pt;
    white-space: pre-wrap;
    color: #303030;
}

#error-message {
    color: #F03300;
}
#progress-message {
    color: #ccc;
}

#page-url {
    display: none;
    width: 100%;
    word-wrap: break-word;
}
#page-url a {
    font-size: 10pt;
}

#app-markets {
    margin: 1em 0;
    text-align: center;
}

#share-buttons {
    /*text-align: center;*/
}
div.addthis_toolbox {
    width: 400px;
    margin: 0 auto;
}

#footer {
    margin: 2em 0 0 0;
}
#copyright {
    margin-top: 1em;
    text-align: center;
    font-size: 9pt;
    line-height: 150%;
}