body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11pt;
  color: #505050;
  line-height: 135%;
}

h1, h2, h3 {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0.5em 0;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1em;
}

h1 a {
  text-decoration: none;
}

/*a, a:visited,*/ span.action {
  cursor: pointer;
  padding: 1px;
  color: #08c;
  text-decoration: none;
}
/*a:hover,*/ span.action:hover {
  color: #005580;
  text-decoration: underline;
  /*background-color: #efcc2f;*/
}

.credits h3 {
  margin: 2em 0 .5em 0;
  padding: 0 0 .2em 0;
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  color: #888;
}
.credits .name {
  font-size: 1.25em;
  font-weight: bold;
}

/* Large desktop */
@media (min-width: 1200px) {
  #content {
  }
  #content.wide {
  }
}

/* Default */
#content {
  margin: 60px auto 10px auto;
  width: 80%;
  max-width: 1000px;
}
#content.wide {
  width: 96%;
  max-width: 1400px;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  #content {
    margin: 20px auto;
    width: 90%;
  }
  #content.wide {
    width: 96%;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}
/* Landscape phones and down */
@media (max-width: 480px) {

}

#google-translate {
  display: none;
  text-align: center;
}

.translation-options {
  margin: 6px 0;
}

img {
  /* To override bootstrap.css */
  max-width: none;
}

textarea {
  /*padding: .5em;*/
  /*font-family: Helvetica, Arial, sans-serif;*/
  font-size: 11pt;
  color: #303030;
  width: 98%;
  height: 4em;
}
textarea[disabled=disabled] {
  color: #999;
  background-color: #eee;
}

button.translate {
  min-width: 7em;
}


#content .section {
  margin: 0 0 2em 0;
}
/*
#content input, select {
  margin: 0;
}
#content label {
  display: inline;
  margin: 0;
}
*/

#text {
  display: block;
  width: 98%; /* FIXME: Temporary solution */
  height: 10em;
}

#result {
  margin: 0;
  min-height: 12em;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11pt;
  white-space: pre-wrap;
  color: #303030;
}

#error-message {
  display: none;
}
#progress-message {
  padding: 10px;
  display: none;
  color: #ccc;
}

#feedback {
  margin: .5em 0 0 0;
  color: #666;
}

#page-url {
  width: 100%;
  word-wrap: break-word;
}
#page-url a {
  font-size: 10pt;
}
#page-url h3 {
  margin-bottom: 0.25em;
}

#app-markets {
  margin: 1em 0;
  text-align: center;
}

div.addthis_toolbox {
  width: 300px;
  margin: 0 auto;
}

#footer {
  margin: 2em 0 1em 0;
}
#copyright {
  margin-top: 1em;
  text-align: center;
  font-size: 9pt;
  line-height: 150%;
}

/***
 * Application-specific styles
 */
.count {
  font-size: 3em;
  font-weight: bold;
}
.count.medium {
  font-size: 2em;
}

.locales {
  margin: 1em 0 0 0;
}

div.table div {
  padding: 3px;
}
div.table .header {
  padding: 4px 1em;
  -webkit-border-radius: 3px;
  -mox-border-radius: 3px;
  border-radius: 3px;
  background-color: #eee;
}

div.subcontainer {
  margin: 0 auto;
  max-width: 1000px;
}

span.rating-plus {
  color: #468847;
}
span.rating-minus {
  color: #b94a48;
}

ul.translation-list {
  margin: 0;
  list-style-type: none;
}

div.adsense {
  margin: 30px 0 0 0;
  overflow: hidden;
}

a.dictionary-link {
  color: #505050;
}
a.dictionary-link:hover {
  text-decoration: none;
  background-color: #dfdfdf;
}

span.corpus:hover {
  background-color: #ff0;
  cursor: pointer;
}

#naver-endic-dialog {
  /* new custom width */
  width: 70%;
  /* must be half of the width, minus scrollbar on the left (30px) */
  margin-left: -35%;
}
#naver-endic-dialog .modal-body {
  overflow: hidden;
}
#naver-endic-dialog .modal-body iframe {
  width: 100%;
  height: 390px;
  border: 0;
}