{% macro render_nav_item(name, endpoint) %}
  <li class="{% if request.endpoint == endpoint %}active{% endif%}">
    <a href="{{ url_for(endpoint) }}">{{ name }}</a>
  </li>
{% endmacro %}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->
<head>
  <title>{{ _("app-title") }}</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta property="og:title" content="{{ _("app-title") }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="http://translator.suminb.com/static/icon_512.png"/>
  <meta property="og:site_name" content="{{ _("app-title") }}"/>
  <meta property="fb:admins" content="10132775"/>
  <meta property="og:description"
        content="{{ og_description }}. This translator supports {{ _('Russian') }}, {{ _('French') }}, {{ _('English') }}, {{ _('Portuguese') }}, {{ _('Vietnamese') }}, {{ _('German') }}, {{ _('Korean') }}, {{ _('Italian') }}, {{ _('Hebrew') }}, {{ _('Indonesian') }}, {{ _('Turkish') }}, {{ _('Chinese') }}, {{ _('Filipino') }}, {{ _('Arabic') }}, {{ _('Polish') }}, {{ _('Thai') }}, {{ _('Czech') }}, {{ _('Swedish') }}, {{ _('Japanese') }}, {{ _('Spanish') }}"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/frontend.css?v={{ version }}"/>
  
</head>
<body>
  <div id="fb-root"></div>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/">{{ _("app-title") }}</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <!--{{ render_nav_item(_("Help Requests"), "translation_help_requests") }}-->
            {{ render_nav_item(_("Corpus Dictionary"), "corpus.corpus_list") }}
            {{ render_nav_item(_("Discussions"), "discuss") }}
            {% if locale == 'ko' %}
            <li>
              <a href="http://blog.suminb.com/archives/1856" target="_blank">번역기 활용 팁</a>
            </li>
            {% endif %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ _("Social Media" )}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="http://www.facebook.com/bettertranslator" target="_blank">{{ _("Facebook") }}</a></li>
                <li><a href="http://twitter.com/btrtranslator" target="_blank">{{ _("Twitter") }}</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav pull-right">
            {% if current_user.is_anonymous() %}
            <li>
              <a href="/login">{{ _("Login") }}</a>
            </li>
            {% else %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ current_user.name }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="{{ url_for('user_page') }}">{{ _("My Account") }}</a>
                </li>
                <li class="divider"></li>
                <li><a href="/logout">{{ _("Logout") }}</a></li>
              </ul>
            </li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div id="content" class="container {% if request.endpoint == 'index' %}wide{% endif %}">
{% block content %}{% endblock %}

    <div class="adsense">
      {% if request.endpoint == 'index' %}
      <script type="text/javascript"><!--
      google_ad_client = "ca-pub-2353453386862167";
      /* Better Translator (Long Text) */
      google_ad_slot = "7696826285";
      google_ad_width = 728;
      google_ad_height = 15;
      //-->
      </script>
      <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
      {% else %}
      <style>
      .better-translator-responsive { width: 320px; height: 50px; }
      @media(min-width: 500px) { .better-translator-responsive { width: 468px; height: 60px; } }
      @media(min-width: 800px) { .better-translator-responsive { width: 728px; height: 90px; } }
      </style>
      <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Better Translator (Responsive) -->
      <div style="text-align:center">
      <ins class="adsbygoogle better-translator-responsive"
           style="display:inline-block;"
           data-ad-client="ca-pub-2353453386862167"
           data-ad-slot="9935929083"></ins>
      </div>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      {% endif %}
    </div>

    <div class="locales">
      <a href="/locale?locale=ko">한국어</a> |
      <a href="/locale?locale=en">English</a>
      <!--
      <a href="/locale?locale=fr">Français</a> |
      <a href="/locale?locale=es">Español</a> |
      <a href="/locale?locale=ru">Pусский</a> 
      -->
    </div>
    {% if is_android %}
    <div id="app-markets">
        <a href="https://play.google.com/store/apps/details?id=better.translator" target="_blank">
            <img alt="Android app on Google Play"
                src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" />
        </a>
    </div>
    {% endif %}
  </div>
    
  <div id="footer">
    <div class="container">
      <div id="share-buttons">
          <!-- AddThis Button BEGIN -->
          <div class="addthis_toolbox addthis_default_style ">
              <a class="addthis_button_facebook_like" fb:like:layout="button_count" addthis:url="{{ request.base_url }}"></a>
              <a class="addthis_button_tweet" addthis:url="{{ request.base_url }}"></a>
              <a class="addthis_button_google_plusone" g:plusone:size="medium" addthis:url="{{ request.base_url }}"></a> 
              <!--<a class="addthis_counter addthis_pill_style"></a>-->
          </div>
          <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
          <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-513d8a896d2c8ac3"></script>
          <!-- AddThis Button END -->
      </div> 
      <div id="copyright">
          <a href="/credits">{{ _("Credits") }}</a> |
          <a href="/privacy">{{ _("Privacy Policy") }}</a> |
          <a href="/disclaimers">{{ _("Disclaimers") }}</a> |
          <a href="http://github.com/suminb/translator/issues" target="_blank">{{ _("Bug reporting") }}</a>
          <br/>
          &copy; 2013 <a href="http://labs.suminb.com" target="_blank">Sumin's Labs</a>.
      </div>
    </div>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://static.suminb.com/jquery.autoresize.min.js"></script>
  <script type="text/javascript" src="http://static.suminb.com/jquery.cookie.js"></script>
  <script type="text/javascript" src="/static/sprintf.min.js"></script>
  <script type="text/javascript" src="/static/main.js?v={{ version }}"></script>

  <script>
  // I'm not sure why but when the following code block is absent,
  // the Facebook like button in 'add-this' panel disappears.

  // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  </script>
  
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  
  <!--<script type="text/javascript" src="http://api.flattr.com/js/0.6/load.js?mode=auto"></script>-->
  <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script> 
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-346833-18']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</body>
</html>
