<!DOCTYPE html>
<html>
<head>
    <title>{{ _("app-title") }}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta property="og:title" content="{{ _("app-title") }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://translator.suminb.com"/>
    <meta property="og:image" content="http://translator.suminb.com/static/icon_256.png"/>
    <meta property="og:site_name" content="{{ _("app-title") }}"/>
    <meta property="fb:admins" content="10132775"/>
    <meta property="og:description"
          content="{{ _("app-description-text") }}"/>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://static.suminb.com/jquery.autoresize.min.js"></script>
    <script type="text/javascript" src="http://static.suminb.com/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/main.js"></script>
    
    {% if locale == "ko" %}
    <!-- Webfont provided by fontface.kr -->
    <script src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
    google.load( "webfont", "1" );
    google.setOnLoadCallback(function() {
      WebFont.load({ custom: {
       families: [ "NanumGothic", "NanumGothicBold" ],
       urls: [ "http://fontface.kr/NanumGothic/css", "http://fontface.kr/NanumGothicBold/css" ]
      }});
    });
    </script>
    {% endif %}
    <script type="text/javascript">
    (function() {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
        t.parentNode.insertBefore(s, t);
    })();
    </script>
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="/static/frontend.css"/>
</head>
<body>
{% block content %}{% endblock %}
    
    <div id="footer">
        <div>
            <a href="#" onclick="$.cookie('locale', 'ko'); location.href='?locale=ko'">한국어</a> |
            <a href="#" onclick="$.cookie('locale', 'en'); location.href='?locale=en'">English</a> |
            <a href="#" onclick="$.cookie('locale', 'fr'); location.href='?locale=fr'">Français</a> |
            <a href="#" onclick="$.cookie('locale', 'es'); location.href='?locale=es'">Español</a> |
            <a href="#" onclick="$.cookie('locale', 'ru'); location.href='?locale=ru'">Pусский</a> 
        </div>
        <div id="share-buttons"> 
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style ">
                <a class="addthis_button_facebook_like" fb:like:layout="button_count" addthis:url="http://translator.suminb.com"></a>
                <a class="addthis_button_tweet" addthis:url="http://translator.suminb.com"></a>
                <a class="addthis_button_google_plusone" g:plusone:size="medium" addthis:url="http://translator.suminb.com"></a> 
                <a class="addthis_counter addthis_pill_style"></a>
                <a class="FlattrButton" style="display:none;" rev="flattr;button:compact;" href="http://labs.suminb.com"></a>
            </div>
            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-513d8a896d2c8ac3"></script>
            <!-- AddThis Button END -->
        </div> 
        <div id="copyright">
            <a href="/credits">{{ _("Credits") }}</a> |
            <a href="/discuss">{{ _("Discussions") }}</a> |
            <a href="http://github.com/suminb/translator/issues">{{ _("Bug reporting") }}</a> |
            Translation service is provided by <a href="http://translate.google.com">Google Translate</a><br/>

            &copy; 2013 <a href="http://labs.suminb.com">Sumin's Labs</a>. All rights reserved.
        </div>
    </div>
    
    <script type="text/javascript" src="http://api.flattr.com/js/0.6/load.js?mode=auto"></script>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script> 
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script> 
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-346833-18']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</body>
</html>
