{% extends "base.html" %}
{% block content %}
    <h1>{{ _("Credits") }}</h1>
    <a href="/" class="">{{ _("Go back to home") }}</a>
    <div class="credits">
        <h3>{{ _("Lead Developer") }}</h3>
        <div class="name">Sumin Byeon</div>
        <div class="link">
            <a href="http://resume.suminb.com">{{ _("Web") }}</a> |
            <a href="http://blog.suminb.com">{{ _("Blog") }}</a> |
            <a href="http://labs.suminb.com">Labs</a> |
            <a href="http://github.com/suminb">GitHub</a>
        </div>
        <div class="intro">A graduate research assistant at the University of Arizona.</div>

        <h3>{{ _("Localization") }} ({{ _("French") }})</h3>
        <div class="name">Yujin Chung</div>
        <div class="link"><a href="http://flyingyujin.x-y.net">{{ _("Web") }}</a></div>

        <h3>{{ _("Localization") }} ({{ _("Spanish") }})</h3>
        <div class="name">Leon M. Garcia</div>
        <div class="intro">Received a bachelor of science degree in Biosystems Engineering at the University of Arizona, and currently teaches math and physics for high school students and college students.</div>

        <h3>{{ _("Localization") }} ({{ _("Russian") }})</h3>
        <div class="name">Shinjo Park</div>
        <div class="link"></div>
        <div class="intro"></div>

        <h3>{{ _("App Icon") }}</h3>
        <div class="name">Icon Generator</div>
        <div class="link"><a href="http://icon-generator.net">{{ _("Web") }}</a></div>
        <div class="intro">Little application for CS5 and Web 2.0 style icon.</div>

        <h3>{{ _("Loading Icon") }}</h3>
        <div class="name">Ajaxload</div>
        <div class="link"><a href="http://www.ajaxload.info">{{ _("Web") }}</a></div>
        <div class="intro">Ajax loading GIF generator.</div>

    </div>
{% endblock %}