{% extends "base.html" %}
{% block content %}
    <h1>{{ _("Credits") }}</h1>
    <a href="/" class="">{{ _("Go back to home") }}</a>
    <div class="credits">
        <h3>Lead Developer</h3>
        <div class="name">Sumin Byeon</div>
        <div class="link">
            <a href="http://resume.suminb.com">Web</a> |
            <a href="http://blog.suminb.com">Blog</a> |
            <a href="http://labs.suminb.com">Labs</a> |
            <a href="http://github.com/suminb">GitHub</a>
        </div>
        <div class="intro">A graduate research assistant at the University of Arizona.</div>

        <h3>Localization (French)</h3>
        <div class="name">Yujin Chung</div>
        <div class="link"><a href="http://flyingyujin.x-y.net">Web</a></div>
    </div>
{% endblock %}