{% extends "base.html" %}
{% block content %}

<h1>{{ _("Disclaimers") }}</h1>

<h3>Automated Translation Services</h3>
<p>All machine translations are provided by <a href="http://translate.google.com" target="_blank">Google Translate</a>.<p>

<h3>Limited Liability</h3>
<p>We are not responsible for any loss or damage on your behalf due to incorrect information or by any other means. Use translation results at your own risk.</p>

<h3>Trademarks</h3>
<p>All trademarks, logos and service marks appearing in this web site, and as designated with either a trademark symbol or type form that is different from the surrounding text, are trademarks owned by or licensed to Better Translator, its subsidiaries or affiliates. Notwithstanding this disclaimer, all other names and marks mentioned in this web site are the trade names, trademarks or service marks of their respective owners.</p>

{% endblock %}