{% extends "base.html" %}
{% block content %}
  <div id="fb-root"></div>

  <script type="text/javascript">
  {% if translation %}state.initWithTranslation({{ translation | safe }}); {% endif %}

  window.onload = function() {
      // The following code was copied from
      // http://stackoverflow.com/questions/2161906/handle-url-anchor-change-event-in-js
      if ("onhashchange" in window) { // event supported?
          window.onhashchange = function () {
              hashChanged(window.location.hash);
          };
      }
      else { // event not supported:
          var storedHash = window.location.hash;
          window.setInterval(function () {
              if (window.location.hash != storedHash) {
                  storedHash = window.location.hash;
                  hashChanged(storedHash);
              }
          }, 250);
      }

      if (state.id) {
          askForRating(state.requestId);
      }
      else {
          if (getParameterByName("t")) {
              state.initWithParameters();
          }
          else {
              state.init();

              hashChanged(window.location.hash ? window.location.hash : "");
          }
      }

      state.invalidateUI();
      
      $("#text, #result").autoResize({
          // On resize:
          onResize: function() {
              $(this).css({opacity:0.8});
          },
          // After resize:
          animateCallback: function() {
              $(this).css({opacity:1});
          },
          // Quite slow animation:
          animateDuration: 300,
          // More extra space:
          extraSpace: 40
      })
      .keypress(function (event) {
          state.text = $("#text").val();
          if (event.keyCode == 13) {
              performTranslation();
          }
      })
      .bind('paste', function (event) {
          // http://stackoverflow.com/questions/9494283/jquery-how-to-get-the-pasted-content
          // When pasting to an input the "paste" event is fired before the value has time to update
          // Therefore, performTranslation() function has to be called after the completion of this event handling function
          setTimeout(performTranslation, 100);
      })
      .trigger("change");

      $("button.to-mode").click(function(evt) {
          var button = $(evt.target);
          button.addClass("active");

          state.setMode(button.attr("value"));
          performTranslation();
      });


      $("#help-request-dialog").on("show", function() {
          $("#help-request-dialog .modal-body")
              .html('{{ _("Loading...") }} <img src="/static/progress.gif"/>');

          $.get(sprintf("/trq/%s/help", state.requestId), function(response) {
              $("#help-request-dialog").html(response);
          });
      });
  };

  window.onpopstate = function(event) {
      if (event.state != null) {
          console.log(event.state);
          state.initWithState(event.state);
      }
  };

  // Initialize tooltips
  $(function() {
    $("button[data-toggle=tooltip]").tooltip();
  });

  function askForHelp() {
      var url = sprintf("%s//%s/trq/%s/response", 
          location.protocol, location.host, state.requestId);

      var source = $("select[name=sl]")
          .children(sprintf("option[value=%s]", state.source)).text();
      var target = $("select[name=tl]")
          .children(sprintf("option[value=%s]", state.target)).text();

      // https://developers.facebook.com/docs/reference/dialogs/feed/
      FB.ui({
          method: 'feed',
          link: url,
          picture: 'http://translator.suminb.com/static/icon_128.png',
          name: "{{ _('app-title') }}",
          caption: sprintf("{{ _('Please help to me translate this from %%1$s to %%2$s') }}", source, target),
          description: state.text
      }, function(response){
          $.post("/v1.0/thrq", {treq_id: state.requestId}, function(response) {

          });
      });
  }

  function showGoogleForm() {
      $("#google-form-dialog").modal();
  }

  function populateSearchResults(results) {

      var ul = $("#search-results ul");
      ul.empty();

      $.each(results, function(index, value) {
          console.log('value=' + value);

          var li = $("<li></li>")
              .text(value.request_id);

          ul.append(li);
      });

      $("#search-results").show();
  }

  </script>
  
  <p>{{ _("app-description-html") }}</p>

  {% if is_msie %}
  <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ _("Better Translator may not work properly with Internet Explorer 9 and below. We encourage you to try modern browsers such as Firefox, Chrome and Safari.") }}
  </div>
  {% endif %}

  <p id="google-translate">
      <img src="/static/google_translate.jpg" alt="구글 번역기를 사용할 때에는 바로 다른 언어로 번역하는것 보다 일본어로 한 번 번역한 다음에 다른 언어로 바꾸는게 더 정확합니다. 전 세계에서 일본 동인지를 번역 하다 보니 수많은 데이터베이스가 쌓였거든요" />
  </p>
  
  <form id="translation-form" method="get" onsubmit="return performTranslation()">
  <div class="row-fluid" style="margin-top:1em;">
    <div class="span6">
      <div class="row-fluid translation-options">
        <div class="span6">
          <select name="sl" onchange="state.selectSource(this.value)">
            {{ language_options | safe }}
          </select>
        </div>
        <div class="span6" style="text-align:right;">
          <button class="btn" onclick="refreshExample()"
            data-toggle="tooltip" data-placement="top"
            title="{{ _('Show another example') }}">
            <img src="/static/refresh.png" alt="{{ _("Show another example" )}}"/>
          </button>
          <button class="btn" onclick="state.swapLanguages()"
            data-toggle="tooltip" data-placement="top"
            title="{{ _('Swap languages') }}">
            <img src="/static/swap.png" alt="{{ _("Swap languages") }}"/>
          </button>
          <button class="btn btn-primary translate">{{ _("Translate") }}</button>
        </div>
      </div>
        
      <textarea id="text" name="t" placeholder="{{ _('Type in your sentences') }}"></textarea>

      <div id="page-url">
        <div id="page-url-value"></div>
      </div>

      <div id="search-results" class="hide">
        {{ _("Similar translations") }}
        <ul></ul>
      </div>
    </div>
    <div class="span6">
      <div class="row-fluid translation-options">
        <div class="span6">
          <div class="btn-group to-mode" data-toggle="buttons-radio">
            <button type="button" class="btn to-mode" value="1"
              data-toggle="tooltip" data-placement="top"
              title="{{ _('Direct translation') }}">
              {{ _("Regular translation") }}
            </button>
            <button type="button" class="btn to-mode" value="2"
              data-toggle="tooltip" data-placement="top"
              title="{{ _('Use Japanese as an intermediate language') }}">
              {{ _("Better translation") }}
            </button>
          </div>
          <!--
          <a class="btn to-mode" style="display:none" href="#">{{ _("User translations") }}</a>
          -->
        </div>
        <div class="span6" style="text-align:right;">
          <select name="tl" onchange="state.selectTarget(this.value)">
              {{ language_options | safe }}
          </select>
        </div>
      </div>
      <div>
          <div id="error-message"></div>
          <div id="progress-message" style="float:left;">
              {{ _("Translation in progress...") }} <img src="/static/progress.gif"/>
          </div>
          <pre id="result"></pre>
      </div>

      <div id="feedback">
          <div id="help-request" style="visibility:hidden;">
            <!--
            {{ _("Did you not like this translation?") }}
            <a href="#help-request-dialog" data-toggle="modal">{{ _("Ask for help") }}</a>.
            -->
          </div>
          <div id="appreciation" style="visibility:hidden;">
              {{ _("Thank you for your feedback.") }}
          </div>
      </div>
    </div>
  </div>
  </form>

<div id="help-request-dialog" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{{ _("Ask for help") }}</h3>
  </div>
  <div class="modal-body"></div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

<div id="google-form-dialog" class="modal hide fade" style="width:600px">
  <div class="modal-header">
  </div>
  <div class="modal-body">
    <iframe src="https://docs.google.com/forms/d/1eLuOsFM3aCUssqqVxaX_e1G6mUjLYUpiuLyZTMsGWkg/viewform?embedded=true#start=embed" width="550" height="650" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">닫기</a>
  </div>
</div>

{% if locale == 'ko' %}
<div style="text-align:center">
  <a href="#google-form-dialog" data-toggle="modal" style="font-size:1.75em;font-weight:bold;">새로 추가 했으면 하는 기능이 있다면?</a>
</div>
{% endif %}

<!--
This section is reserved for gettext string extraction purposes
FIXME: There must be a better way than this
{{ _('Russian') }}
{{ _('French') }}
{{ _('English') }}
{{ _('Portuguese') }}
{{ _('Vietnamese') }}
{{ _('German') }}
{{ _('Korean') }}
{{ _('Italian') }}
{{ _('Hebrew') }}
{{ _('Indonesian') }}
{{ _('Turkish') }}
{{ _('Chinese') }}
{{ _('Filipino') }}
{{ _('Arabic') }}
{{ _('Polish') }}
{{ _('Thai') }}
{{ _('Czech') }}
{{ _('Swedish') }}
{{ _('Japanese') }}
{{ _('Spanish') }}
-->
    
{% endblock %}
