{% extends "base.html" %}
{% block content %}
  <script type="text/javascript">
    {% if translation %}state.initWithTranslation({{ translation | safe }}); {% endif %}
  </script>

  <!--
  <p class="notification">접속자 폭주로 인해 구글에서 일시적으로 접근을 금지시켰습니다. 나중에 다시 찾아주세요.<br/>
  Due to too many translation requests in a short time period, Google has banned our server from accessing their translation service. Please come back later.</p>
  -->
  
  <p>{{ _("app-description-html") }}</p>

  {% if is_msie %}
  <p class="notification">{{ _("Better Translator may not work properly with Internet Explorer 9 and below. We encourage you to try modern browsers such as Firefox, Chrome and Safari.") }}</p>
  {% endif %}

  <p id="google-translate">
      <img src="/static/google_translate.jpg" alt="구글 번역기를 사용할 때에는 바로 다른 언어로 번역하는것 보다 일본어로 한 번 번역한 다음에 다른 언어로 바꾸는게 더 정확합니다. 전 세계에서 일본 동인지를 번역 하다 보니 수많은 데이터베이스가 쌓였거든요" />
  </p>
  
  <form id="translation-form" method="get" onsubmit="return performTranslation()">
  <div class="row-fluid">
    <div class="span6">
      <div class="row-fluid translation-options">
        <div class="span6">
          <select name="sl" onchange="state.selectSource(this.value)">
            {{ language_options | safe }}
          </select>
        </div>
        <div class="span6" style="text-align:right;">
          <button class="btn" onclick="refreshExample()">
            <img src="/static/refresh.png" alt="{{ _("Show another example" )}}"/>
          </button>
          <button class="btn" onclick="state.swapLanguages()">
            <img src="/static/swap.png" alt="{{ _("Swap languages") }}"/>
          </button>
          <button class="btn btn-primary translate">{{ _("Translate") }}</button>
        </div>
      </div>
        
      <textarea id="text" name="t"></textarea>

      <span id="request-permalink" class="action" style="display:none;" onclick="displayPermalink(state.serial)">{{ _("Request a permalink") }}</span>
      <div id="page-url">
          <div id="page-url-value"></div>
          <!--
          <div id="addthis-share" class="addthis_default_style" style="float:left;margin-left:.75em;">
              <a class="addthis_button_facebook"></a>
              <a class="addthis_button_twitter"></a>
              <a class="addthis_button_compact"></a>
          </div>
          -->
          <div style="clear:both;"></div>
      </div>
    </div>
    <div class="span6">
      <div class="row-fluid translation-options">
        <div class="span5">
          <div class="btn-group to-mode" data-toggle="buttons-radio">
            <button type="button" class="btn to-mode" value="1">{{ _("Regular translation") }}</button>
            <button type="button" class="btn to-mode" value="2">{{ _("Better translation") }}</button>
          </div>
        </div>
        <div class="span7" style="text-align:right;">
          <select name="tl" onchange="state.selectTarget(this.value)">
              {{ language_options | safe }}
          </select>
        </div>
      </div>
      <div>
          <div id="error-message"></div>
          <div id="progress-message" style="float:left;">
              {{ _("Translation in progress...") }} <img src="/static/progress.gif"/>
          </div>
          <pre id="result"></pre>
      </div>

      <div id="feedback">
          <div id="rating" style="display:none;">
              {{ _("How did you like this translation?") }}
              <span class="action" onclick="rate(-1)">{{ _("Poor") }}</span> |
              <span class="action" onclick="rate(0)">{{ _("Acceptable") }}</span> |
              <span class="action" onclick="rate(1)">{{ _("Excellent") }}</span>
              <!--
              <div>
                  <a href="#" class="facebook-post">{{ _("Post a translation challenge on Facebook") }}</a>
              </div>
              -->
          </div>
          <div id="appreciation" style="display:none;">
              {{ _("Thank you for your feedback.") }}
          </div>
      </div>
    </div>
  </div>
  </form>


<!--
This section is reserved for gettext string extraction purposes
FIXME: There must be a better way than this
{{ _('Russian') }}
{{ _('French') }}
{{ _('English') }}
{{ _('Portuguese') }}
{{ _('Vietnamese') }}
{{ _('German') }}
{{ _('Korean') }}
{{ _('Italian') }}
{{ _('Hebrew') }}
{{ _('Indonesian') }}
{{ _('Turkish') }}
{{ _('Chinese') }}
{{ _('Filipino') }}
{{ _('Arabic') }}
{{ _('Polish') }}
{{ _('Thai') }}
{{ _('Czech') }}
{{ _('Swedish') }}
{{ _('Japanese') }}
{{ _('Spanish') }}
-->
    
{% endblock %}
