{% extends "base.html" %}
{% block content %}

<h1>"Text is too long" 에러 메세지</h1>
<p>최근 구글 번역기 시스템 변경으로 인해 더 나은 번역기가 일시적으로 작동되지
않았었습니다. 이 문제를 해결하기 위한 임시 해결방안을 내놓았지만 (결과적으로는
굉장한 성능 향상을 가져왔습니다), 한가지 문제점이 있다면 긴 문장을 번역 할 수
없다는 것입니다.</p>
<p>이 문제가 해결될 때 까지는 한 두 문장 정도의 짧은 글만 번역해주십시오.
가까운 시일 내에 이 문제를 해결할 수 있도록 노력하겠습니다. 감사합니다.</p>

<h1>"Text is too long" Error Message</h1>
<p>Due to recent changes on Google Translate backend, our system has broken
down. We have developed a workaround to circumvent this problem, which
consequently improved the overall performance remarkablly. However, it comes
with one drawback: we are currently unable to process long text.</p>
<p>We believe this issue can be resolved in the foreseable future. Until then,
please use short text only; in most cases, a sentence or two. Thank you for
your patience and we will put our best effor to address this issue in a timely
manner.</p>

{% endblock %}
