{% extends "base.html" %}
{% block content %}

<h1>{{ _("Privacy Policy") }}</h1>

<p>When you login through your Facebook account, we collect some of your information such as your name and email address and other information that you made visible to the public. We store some of your information in our database for authentication purposes and for providing necessary features.</p>

<p>We take privacy issues very seriously and therefore we will not release your private information nor share it with third parties, unless it is absolutely required by the court of law.</p>

<p>Last updated: Aug 27, 2013</p>

{% endblock %}