{% extends "base.html" %}
{% block content %}

<div class="subcontainer">

  <h1>{{ _("Response to a Challenge") }}</h1>

  <div class="table">
    <div class="row-fluid">
      <div class="span3 header">{{ _("Original text") }} ({{ translation.source | language_name }})</div>
      <div class="span9">{{ translation.original_text }}</div>
    </div>

    <div class="row-fluid">
      <div class="span3 header">{{ _("Translated text") }} ({{ translation.target | language_name }})</div>
      <div class="span9">{{ translation.translated_text }}</div>
    </div>

    {% for tresponse in tresponses %}
    <div class="row-fluid">
      <div class="span3"></div>
      <div class="span7">
        <div>
          {{ tresponse.user.name }} &middot;
          {{ tresponse.timestamp | date }} &middot;
          <span class="rating-plus">{{ tresponse.plus_ratings }}</span> /
          <span class="rating-minus">{{ tresponse.minus_ratings }}</span> &nbsp;
          <div class="btn-group">
            <button class="btn btn-mini" onclick="rateTranslation('{{ tresponse.id | uuid_to_b62 }}', 1)">
              <i class="icon-plus"></i>
            </button>
            <button class="btn btn-mini" onclick="rateTranslation('{{ tresponse.id | uuid_to_b62 }}', -1)">
              <i class="icon-minus"></i>
            </button>
          </div>
        </div>
        <p>{{ tresponse.translated_text }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

</div>

{% endblock %}