{% extends "base.html" %}
{% block content %}

  <h1>{{ _("Translation Challenge") }} <span style="font-weight:normal">({{ _("Beta") }})</span></h1>

  <p>{{ _("If you are not satisfied with machine translations, you may ask your friends to translate short sentences. You may also post your own translation if you have proficiency in both languages. It's like Stack Overflow for language translations.") }}</p>

  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#tab-original" data-toggle="tab">{{ _("Original text") }} ({{ trequest.source | language_name }})</a>
    </li>
    {% if tresponse1 %}
    <li>
      <a href="#tab-normal" data-toggle="tab">{{ _("Regular translation") }} ({{ trequest.target | language_name }})</a>
    </li>
    {% endif %}
    {% if tresponse2 %}
    <li>
      <a href="#tab-better" data-toggle="tab">{{ _("Better translation") }} ({{ trequest.target | language_name }})</a>
    </li>
    {% endif %}
  </ul>

  <div class="tab-content well">
    <div class="tab-pane active" id="tab-original">
      {{ trequest.original_text }}
    </div>
    {% if tresponse1 %}
    <div class="tab-pane" id="tab-normal">
      {{ tresponse1.translated_text }}
    </div>
    {% endif %}
    {% if tresponse2 %}
    <div class="tab-pane" id="tab-better">
      {{ tresponse2.translated_text }}
    </div>
    {% endif %}
  </div>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#">{{ _("Translations by others") }}</a></li>
  </ul>

  {# FIXME: This may cause performance issues (try not to convert BaseQuery to list) #}
  {% if tresponses|list|length == 0 %}
  <div class="alert alert-info">
    {{ _("No one has posted a translation. Become the first one!") }}
  </div>
  {% endif %}

  <ul class="translation-list">
  {% for tresponse in tresponses %}
  {% set mine = tresponse.user_id == current_user.id %}
    <li class="{% if mine %}highlight{% endif %}">
      <!--
      <a class="pull-left" href="{{ tresponse.user.link or '#' }}">
        <img class="media-object" data-src="holder.js/50x50" src="{{ tresponse.user.picture or '' }}"/>
      </a>
      -->
      <div class="">
        {% if tresponse.user.link %}
          <a href="{{ tresponse.user.link }}">{{ tresponse.user.name }}</a>
        {% else %}
          {{ tresponse.user.name }}
        {% endif %} &middot;
        {{ tresponse.timestamp | date }} &middot;
        <span class="rating-plus" translation-id="{{ tresponse.id|uuid_to_b62 }}">{{ tresponse.plus_ratings }}</span> /
        <span class="rating-minus" translation-id="{{ tresponse.id|uuid_to_b62 }}">{{ tresponse.minus_ratings }}</span> &nbsp;
        <div class="btn-group">
          <button class="btn btn-mini" translation-id="{{ tresponse.id|uuid_to_b62 }}" rating="1" onclick="rateTranslation($(this))">
            <i class="icon-plus"></i>
          </button>
          <button class="btn btn-mini" translation-id="{{ tresponse.id|uuid_to_b62 }}" rating="-1" onclick="rateTranslation($(this))">
            <i class="icon-minus"></i>
          </button>
        </div>
        {% if mine %}
        <a class="btn btn-mini" href="{{ url_for('translation_response', response_id=tresponse.id|uuid_to_b62) }}"><i class="icon-edit"></i></a>
        {% endif %}
        <div class="well">{{ tresponse.translated_text }}</div>
      </div>
    </li>
  {% endfor %}
  </ul>

  <div>
    <a class="btn" href="{{ url_for('translation_request_response', request_id=trequest.id|uuid_to_b62) }}">{{ _("Post a translation") }}</a>
    <!--
    <a href="#" class="btn translation-challenge" onclick="askForHelp()">{{ _("Ask your friends for help") }}</a>
    -->
  </div>


  <script>
  function askForHelp() {
      var url = sprintf("%s//%s/trq/%s/response", 
          location.protocol, location.host, "{{ trequest.id | uuid_to_b62 }}");

      var source = "{{ trequest.source | language_name }}";
      var target = "{{ trequest.target | language_name }}";

      // https://developers.facebook.com/docs/reference/dialogs/feed/
      FB.ui({
          method: 'feed',
          link: url,
          picture: 'http://translator.suminb.com/static/icon_128.png',
          name: "{{ _('app-title') }}",
          caption: sprintf("{{ _('Please help to me translate this from %%1$s to %%2$s') }}", source, target),
          description: "{{ trequest.original_text }}"
      }, function(response){
          $.post("/v1.0/thrq", {treq_id: "{{ trequest.id | uuid_to_b62 }}"}, function(response) {

          });
      });
  }

  
  {% for rating in ratings %}
    $("button[translation-id={{ rating.translation_id | uuid_to_b62 }}][rating={{ rating.rating }}]").addClass("active");
  {% endfor %}
  </script>
  <script src="/static/bootstrap/js/holder.js"></script>

{% endblock %}