{% extends "base.html" %}
{% block content %}

  <h1>{{ _("Help Requests") }} <span style="font-weight:normal">({{ _("Beta") }})</span></h1>

  <p>{{ _("If you are not satisfied with machine translations, you may ask your friends to translate short sentences. You may also post your own translation if you have proficiency in both languages. It's like Stack Overflow for language translations.") }}</p>

  <table class="table table-striped">
  <thead>
    <tr>
      <th>{{ _("Date") }}</th>
      <th style="width: 75%;">{{ _("Original Text") }}</th>
      <th>{{ _("Language") }}</th>
    </tr>
  </thead>
  <tbody>
  {% for hrequest in hrequests %}
    <tr>
      <td>{{ hrequest.timestamp | date }}</td>
      <td><a href="{{ url_for('translation_responses', request_id=hrequest.id|uuid_to_b62) }}">{{ hrequest.original_text }}</a></td>
      <td>
        {{ hrequest.source | language_name }} &rarr;
        {{ hrequest.target | language_name }}
      </td>
    </tr>
  {% endfor %}
  </tbody>
  </table>

  <a class="btn" href="{{ url_for('translation_request') }}">{{ _("Ask for help") }}</a>

{% endblock %}