{% extends "base.html" %}
{% block content %}

  <h1>{{ _("Post a Translation Challenge") }}</h1>
  {% if referrer %}
    <div class="navigation">
      <a href="{{ referrer }}">&laquo; {{ _("Previous page") }}</a>
    </div>
  {% endif %}

  <table style="width:100%;">
    <tr>
      <td style="width:140px;">{{ _("Original text") }}</td>
      <td>{{ translation.original_text }}</td>
    </tr>
    <tr>
      <td>{{ _("Translation by Better Translator") }}</td>
      <td>{{ translation.translated_text }}</td>
    </tr>
  </table>

  <a href="">{{ _("Post a translation challenge on Facebook") }}</a>

{% endblock %}