{% extends "base.html" %}
{% block content %}

  <h1>{{ _("Response to a Challenge") }}</h1>
  <div class="navigation">
    <a href="/" class="">{{ _("Go back to home") }}</a>
  </div>

  <form method="post" action="">
    <table style="width:100%;">
      <tr>
        <td style="width:140px;">{{ _("Original text") }} ({{ translation.source }})</td>
        <td>{{ translation.original_text }}</td>
      </tr>
      <tr>
        <td>{{ _("Translation by Better Translator") }} ({{ translation.target }})</td>
        <td>{{ translation.translated_text }}</td>
      </tr>
       <tr>
        <td>{{ _("Professional translation") }}</td>
        <td><textarea name="text" style="width:98%;height:10em;">{{ tresponse.text }}</textarea></td>
      </tr>
    </table>

    <input type="submit" text="{{ _("Submit") }}"/>
  </form>

{% endblock %}