{% extends "base.html" %}
{% block content %}

<div id="fb-root"></div>
<div class="subcontainer">

  <h1>{{ _("Translation Challenge") }} <span style="font-weight:normal">({{ _("Beta") }})</span></h1>

  <div class="alert alert-success" style="display:none">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <div class="message"></div>
  </div>
  <div class="alert alert-error" style="display:none">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <div class="message"></div>
  </div>

  <div class="table">
    <div class="row-fluid">
      <div class="span3 header">{{ _("Original text") }} ({{ trequest.source | language_name }})</div>
      <div class="span9">{{ trequest.original_text }}</div>
    </div>

    {% if tresponse1 %}
    <div class="row-fluid">
      <div class="span3 header">{{ _("Regular translation") }} ({{ trequest.target | language_name }})</div>
      <div class="span9">{{ tresponse1.translated_text }}</div>
    </div>
    {% endif %}

    {% if tresponse2 %}
    <div class="row-fluid">
      <div class="span3 header">{{ _("Better translation") }} ({{ trequest.target | language_name }})</div>
      <div class="span9">{{ tresponse2.translated_text }}</div>
    </div>
    {% endif %}

    <div class="row-fluid">
      <div class="span3 header">{{ _("Your translation") }}</div>
      <div class="span9">
{% if current_user.is_anonymous() %}
        <div>{{ _("Login with your Facebook to post a translation.") }}</div>
        <div>
          <button class="btn btn-small" style="min-width:7em;" onclick="location.href='{{ url_for('translation_responses', request_id=trequest.id | uuid_to_b62) }}'">
            {{ _("See how others did") }}
          </button>
          <button class="btn btn-primary btn-small" style="min-width:7em;" onclick="location.href='/login'">{{ _("Login") }}</button>
        </div>
{% elif tresponse %}
{% set tres_id_b62 = tresponse.id | uuid_to_b62 %}
        <p>{{ tresponse.translated_text }}</p>
        
        <button class="btn" style="min-width:7em;" onclick="location.href='{{ url_for('translation_responses', request_id=trequest.id | uuid_to_b62) }}'">
          {{ _("See how others did") }}
        </button>
        <button class="btn btn-primary" style="min-width:7em;" translation-id="{{ tres_id_b62 }}" request-id="{{ tresponse.request_id }}" onclick="postTranslation(this)">{{ _("Post on Facebook") }}</button>
        <button class="btn btn-danger" style="min-width:7em;" onclick="deleteTranslation('{{ tres_id_b62 }}')">{{ _("Delete") }}</button>
{% else %}
        <form method="post" action="{{ url_for('translation_request_response_api', request_id=trequest.id | uuid_to_b62) }}">
          <input type="hidden" name="alert_flag" value="1"/>
          <textarea name="text" style="width:99%;height:10em;"></textarea>
          <div style="text-align:right">
            <button class="btn" style="min-width:7em;" onclick="location.href='{{ url_for('translation_responses', request_id=trequest.id | uuid_to_b62) }}'">
              {{ _("See how others did") }}
            </button>
            <button class="btn btn-primary" style="min-width:7em;">{{ _("Save") }}</button>
          </div>
        </form>
{% endif %}
      </div>
    </div>
  </div>
</div>

{% if tresponse %}
<script>
// Load the SDK asynchronously
(function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/all.js";
   fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));


// TODO: Move this to main.js
function postTranslation(button) {
    // jQueryfy
    button = $(button);

    var translationId = button.attr("translation-id");
    var requestId = button.attr("request-id");
    var url = sprintf("%s//%s/trq/%s/responses",
        location.protocol, location.host, requestId);

    button.attr("disabled", "disabled");

    FB.ui({
        method: 'feed',
        link: url,
        picture: 'http://translator.suminb.com/static/icon_128.png',
        name: "{{ _('app-title') }}",
        caption: sprintf("{{ _('%%1$s has completed a translation challenge') }}",
            "{{ current_user.name }}"),
        description: sprintf("%s &rarr; %s",
            "{{ trequest.original_text }}",
            "{{ tresponse.translated_text }}")
    }, function(response){
        console.log(response);

        button.removeAttr("disabled");
    });
}

</script>
{% endif %}

{% endblock %}