{% extends "base.html" %}
{% block content %}

  <h1>{{ _("Translation Challenge") }} <span style="font-weight:normal">({{ _("Beta") }})</span></h1>

  <div class="alert alert-success" style="display:none">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <div class="message"></div>
  </div>
  <div class="alert alert-info" style="display:none">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <div class="message"></div>
  </div>
  <div class="alert alert-error" style="display:none">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <div class="message"></div>
  </div>

  <div class="table">
    <div class="row-fluid">
      <div class="span3 header">{{ _("Original text") }} ({{ trequest.source | language_name }})</div>
      <div class="span9">{{ trequest.original_text }}</div>
    </div>

    {% if tresponse1 %}
    <div class="row-fluid">
      <div class="span3 header">{{ _("Regular translation") }} ({{ trequest.target | language_name }})</div>
      <div class="span9">{{ tresponse1.translated_text }}</div>
    </div>
    {% endif %}

    {% if tresponse2 %}
    <div class="row-fluid">
      <div class="span3 header">{{ _("Better translation") }} ({{ trequest.target | language_name }})</div>
      <div class="span9">{{ tresponse2.translated_text }}</div>
    </div>
    {% endif %}

    <div class="row-fluid">
      <div class="span3 header">{{ _("Your translation") }}</div>
      <div class="span9">
{% if current_user.is_anonymous() %}
        <div>{{ _("Login with your Facebook to post a translation.") }}</div>
        <div>
          <a class="btn" style="min-width:7em;" href="{{ url_for('translation_responses', request_id=trequest.id | uuid_to_b62) }}">
            {{ _("See how others did") }}
          </a>
          <a class="btn btn-primary" style="min-width:7em;" href="/login">{{ _("Login") }}</a>
        </div>
{% elif tresponse %}
{% set tres_id_b62 = tresponse.id | uuid_to_b62 %}

        {% if tresponse.user.link %}
          <a href="{{ tresponse.user.link }}">{{ tresponse.user.name }}</a>
        {% else %}
          {{ tresponse.user.name }}
        {% endif %} &middot;
        {{ tresponse.timestamp | date }} &middot;
        <span class="rating-plus" translation-id="{{ tresponse.id|uuid_to_b62 }}">{{ tresponse.plus_ratings }}</span> /
        <span class="rating-minus" translation-id="{{ tresponse.id|uuid_to_b62 }}">{{ tresponse.minus_ratings }}</span> <!-- &nbsp;
        <div class="btn-group">
          <button class="btn btn-mini" translation-id="{{ tresponse.id|uuid_to_b62 }}" rating="1" onclick="rateTranslation($(this))">
            <i class="icon-plus"></i>
          </button>
          <button class="btn btn-mini" translation-id="{{ tresponse.id|uuid_to_b62 }}" rating="-1" onclick="rateTranslation($(this))">
            <i class="icon-minus"></i>
          </button>
        </div>
        -->

        <p>{{ tresponse.translated_text }}</p>
        
        <a class="btn" style="min-width:7em;" href="{{ url_for('translation_responses', request_id=trequest.id | uuid_to_b62) }}">
          {{ _("See how others did") }}
        </a>

        {% if tresponse.user_id == current_user.id %}
        <button class="btn btn-primary" style="min-width:7em;" translation-id="{{ tres_id_b62 }}" request-id="{{ tresponse.request_id }}" onclick="postTranslationFB(this)">{{ _("Brag about it") }}</button>
        <button class="btn btn-danger" style="min-width:7em;" onclick="deleteTranslation('{{ tres_id_b62 }}')">{{ _("Delete") }}</button>
        {% endif %}

{% else %}
        <form method="post" action="{{ url_for('translation_request_response_api', request_id=trequest.id | uuid_to_b62) }}">
          <textarea name="text" style="width:99%;height:10em;"></textarea>
          <div style="text-align:right">
            <label>
              <input type="checkbox" name="post-facebook" checked="checked"/>
              {{ _("Brag about it on your Facebook") }}
            </label>
            <button class="btn" style="min-width:7em;" onclick="location.href='{{ url_for('translation_responses', request_id=trequest.id | uuid_to_b62) }}'; return false;">
              {{ _("See how others did") }}
            </button>
            <button class="btn btn-primary" style="min-width:7em;" request-id="{{ trequest.id | uuid_to_b62 }}" onclick="return postTranslation(this)">{{ _("Post") }}</button>
          </div>
        </form>
{% endif %}
      </div>
    </div>
  </div>

  <div class="adsense">
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-2353453386862167";
    /* Better Translator */
    google_ad_slot = "1075529885";
    google_ad_width = 468;
    google_ad_height = 15;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
  </div>


<script>
// TODO: Move this to main.js
function postTranslation(button) {
    // jQueryfy
    button = $(button);

    button.disable();
    $("div.alert").hide();

    var requestId = button.attr("request-id");
    var url = sprintf("%s//%s/v1.0/trq/%s/response",
        location.protocol, location.host, requestId);
    var text = $("textarea[name=text]").val();

    $.post(url, {text: text}, function(response) {
        $("div.alert-success div.message").text(response.message);
        $("div.alert-success").show();

        if($("input[name=post-facebook]").is(":checked")) {
            postLinkFB(response.id);
        }
        else {
            // FIXME: Any better solution?
            location.reload();
        }
    }).fail(function(response) {
        $("div.alert-error div.message").text(response.responseText);
        $("div.alert-error").show();
    }).always(function() {
        if(!$("input[name=post-facebook]").is(":checked")) {
            button.enable();
        }
    });

    return false;
}

function postLinkFB(responseId) {
    var url = sprintf("%s//%s/v1.0/tr/%s/post/facebook",
        location.protocol, location.host, responseId);

    $("div.alert-info div.message").text("{{ _('Please wait while posting a link on your timeline.') }}");
    $("div.alert-info").show();

    $.post(url, {}, function(response) {
        // FIXME: Any better solution?
        location.reload();
    }).fail(function(response) {
    
    }).always(function() {

    });
}

{% if tresponse %}
function postTranslationFB(button) {
    // jQueryfy
    button = $(button);

    var translationId = button.attr("translation-id");
    var requestId = button.attr("request-id");
    var url = sprintf("%s//%s/trq/%s/responses",
        location.protocol, location.host, requestId);

    button.attr("disabled", "disabled");

    FB.ui({
        method: 'feed',
        link: url,
        picture: 'http://translator.suminb.com/static/icon_128.png',
        name: "{{ _('app-title') }}",
        caption: sprintf("{{ _('%%1$s has completed a translation challenge') }}",
            "{{ current_user.name }}"),
        description: sprintf("%s &rarr; %s",
            "{{ trequest.original_text }}",
            "{{ tresponse.translated_text }}")
    }, function(response){
        button.removeAttr("disabled");
    });
}
{% endif %}
</script>

{% endblock %}