{% extends "base.html" %}
{% block content %}

<div class="subcontainer">

  <h1>{{ _("Translation Challenge") }} <span style="font-weight:normal">({{ _("Beta") }})</span></h1>

  <div class="table">
    <div class="row-fluid">
      <div class="span3 header">{{ _("Original text") }} ({{ trequest.source | language_name }})</div>
      <div class="span9">{{ trequest.original_text }}</div>
    </div>

    {% if tresponse1 %}
    <div class="row-fluid">
      <div class="span3 header">{{ _("Regular translation") }} ({{ trequest.target | language_name }})</div>
      <div class="span9">
        {{ tresponse1.translated_text }}
        <a href="{{ url_for('index', translation_id=tresponse1.id|uuid_to_b62) }}"><i class="icon-share-alt"></i></a>
      </div>
    </div>
    {% endif %}

    {% if tresponse2 %}
    <div class="row-fluid">
      <div class="span3 header">{{ _("Better translation") }} ({{ trequest.target | language_name }})</div>
      <div class="span9">
        {{ tresponse2.translated_text }}
        <a href="{{ url_for('index', translation_id=tresponse2.id|uuid_to_b62) }}"><i class="icon-share-alt"></i></a>
      </div>
    </div>
    {% endif %}
  </div>


  {# FIXME: This may cause performance issues (try not to convert BaseQuery to list) #}
  {% if tresponses|list|length == 0 %}
  <div>
    {{ _("No one has posted a translation. Become the first one!") }}
    <a class="btn btn-primary" href="{{ url_for('translation_request_response', request_id=trequest.id|uuid_to_b62) }}">
      {{ _("Post a translation") }}
    </a>
  </div>
  {% endif %}

  <ul class="media-list translation-list">
  {% for tresponse in tresponses %}
  {% set mine = tresponse.user_id == current_user.id %}
    <li class="media {% if mine %}highlight{% endif %}">
      <a class="pull-left" href="{{ tresponse.user.link or '#' }}">
        <img class="media-object" data-src="holder.js/50x50" src="{{ tresponse.user.picture or '' }}"/>
      </a>
      <div class="media-body">
        {% if tresponse.user.link %}
          <a href="{{ tresponse.user.link }}">{{ tresponse.user.name }}</a>
        {% else %}
          {{ tresponse.user.name }}
        {% endif %} &middot;
        {{ tresponse.timestamp | date }} &middot;
        <span class="rating-plus" translation-id="{{ tresponse.id|uuid_to_b62 }}">{{ tresponse.plus_ratings }}</span> /
        <span class="rating-minus" translation-id="{{ tresponse.id|uuid_to_b62 }}">{{ tresponse.minus_ratings }}</span> &nbsp;
        <div class="btn-group">
          <button class="btn btn-mini" translation-id="{{ tresponse.id|uuid_to_b62 }}" rating="1" onclick="rateTranslation($(this))">
            <i class="icon-plus"></i>
          </button>
          <button class="btn btn-mini" translation-id="{{ tresponse.id|uuid_to_b62 }}" rating="-1" onclick="rateTranslation($(this))">
            <i class="icon-minus"></i>
          </button>
        </div>
        {% if mine %}
        <a class="btn btn-mini" href="{{ url_for('translation_response', response_id=tresponse.id|uuid_to_b62) }}"><i class="icon-edit"></i></a>
        {% endif %}
        <div>{{ tresponse.translated_text }}</div>
      </div>
    </li>
  {% endfor %}
  </ul>

  <div class="adsense">
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-2353453386862167";
    /* Better Translator */
    google_ad_slot = "1075529885";
    google_ad_width = 468;
    google_ad_height = 15;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
  </div>

</div>

<script>
{% for rating in ratings %}
  $("button[translation-id={{ rating.translation_id | uuid_to_b62 }}][rating={{ rating.rating }}]").addClass("active");
{% endfor %}
</script>
<script src="/static/bootstrap/js/holder.js"></script>

{% endblock %}