<table class="table table-striped">
<thead>
  <tr>
    <th>{{ _("Date") }}</th>
    <th>{{ _("Original Text") }}</th>
    <th>{{ _("Target Language") }}</th>
    <th></th>
  </tr>
</thead>
<tbody>
{% for hrequest in hrequests %}
  <tr>
    <td>{{ hrequest.timestamp | date }}</td>
    <td><a href="{{ url_for('translation_response', response_id=hrequest.id|uuid_to_b62) }}">{{ hrequest.translated_text }}</a></td>
    <td>{{ hrequest.request.target | language_name }}</td>
    <td><a href="">{{ _("Translate") }}</td>
  </tr>
{% endfor %}
</tbody>
</table>