<table class="table table-striped">
<thead>
  <tr>
    <th>{{ _("Date") }}</th>
    <th>{{ _("Translated Text") }}</th>
    <th>{{ _("Target Language") }}</th>
  </tr>
</thead>
<tbody>
{% for tresponse in tresponses %}
  <tr>
    <td>{{ tresponse.timestamp | date }}</td>
    <td><a href="{{ url_for('translation_response', response_id=tresponse.id|uuid_to_b62) }}">{{ tresponse.translated_text }}</a></td>
    <td>{{ tresponse.request.target | language_name }}</td>
  </tr>
{% endfor %}
</tbody>
</table>