{% extends "base.html" %}
{% block content %}

  <h1>{{ current_user.name }}</h1>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab-thrq" data-toggle="tab">{{ _("My Help Requests") }}</a></li>
    <li><a href="#tab-trs" data-toggle="tab">{{ _("My Translations") }}</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="tab-thrq">
      {% include "embedded/user_translation_requests.html" %}
    </div>
    <div class="tab-pane" id="tab-trs">
      {{ _("Loading...") }}
      <img src="/static/progress.gif" alt="{{ _('Loading...') }}"/>
    </div>
  </div>


<script>
$("a[data-toggle=tab]").on("shown", function (evt) {
    //console.log(evt.target); // activated tab
    //console.log(evt.relatedTarget); // previous tab

    var trsUrl = "{{ url_for('user_translation_responses', user_id=current_user.id|uuid_to_b62) }}";

    if (evt.target.href.match(/#tab-thrq$/) != null) {

    }
    else if (evt.target.href.match(/#tab-trs$/) != null) {
        $.get(trsUrl, function(response) {
            $("#tab-trs").html(response);
        });
    }
})
</script>

{% endblock %}